pre{font-size: 12px; font-family: consolas;}

/* SPAN elements with the classes below are added by prettyprint. */
.pln { color: #000 }  /* plain text */

@media screen {
  .str { color: #0000fe}                        /* string content */
  .kwd { color: #006699; font-weight: bold;}    /* a keyword */
  .com { color: #008200 }                       /* a comment */
  .typ { color: #606 }                          /* a type name */
  .lit { color: #000 }                          /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo { color: #660 }
  .tag { color: #008 }                          /* a markup tag name */
  .atn { color: #606 }                          /* a markup attribute name */
  .atv { color: #080 }                          /* a markup attribute value */
  .dec, .var { color: #606 }                    /* a declaration; a variable name */
  .fun { color: red }                           /* a function name */
}


li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { background: #f8f8f8 }